{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">
    {{ if not (eq .Params.showDate false)  }}
      <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ partial "internal/date.html" . }}
      </time>
    {{ end }}
    {{ partial "post/category.html" . }}
      {{ if (ne .Params.comment false) -}}
        <!-- valine -->
        {{- if .Site.Params.valine.enable -}}
          <!-- `id` will be used as the query condition -->
          {{- if .Site.Params.valine.visitor -}}
            <span id="{{ .RelPermalink | relURL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
		      <i class="fa fa-eye" aria-hidden="true"></i>
		      <span class="leancloud-visitors-count">0</span>
	        </span>
          {{- end }}
        {{- end }}
      {{- end }}
  </div>
{{ end }}
